{% extends "layout.html" %} {% block content %}
<h4 class="heading">Posts by {{ user.username }} ({{ posts.total }})</h4>
{% for post in posts.items %}
<article class="media content-section">
  <div class="media-body">
    <img
      src="{{ url_for('static', filename='profile_pics/{}'.format(post.author.image_file)) }}"
      class="rounded-circle article-img mb-1"
      alt="{{ post.author.username }}"
    />
    <div class="article-metadata">
      <p class="mr-2">{{ post.author.username }}</p>
      <small class="text-muted"
        >{{ post.date_posted.strftime('Posted at %Y/%m/%d') }}</small
      >
    </div>
    <h2>
      <a
        class="article-title"
        href="{{ url_for('specific_post', post_id=post.id, user_id=user.id) }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
left_current=1, right_current=2) %} {% if page_num %} {% if posts.page ==
page_num %}
<a
  class="btn btn-info mb-4"
  href="{{ url_for('user_posts', user_id=user.id, page_num=page_num) }}"
  >{{ page_num }}</a
>
{% else %}
<a
  class="btn btn-outline-info mb-4"
  href="{{ url_for('user_posts', user_id=user.id, page_num=page_num) }}"
  >{{ page_num }}</a
>
{% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}
